@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100&family=Playfair+Display&family=Poppins:wght@200&display=swap');
h1{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Noto Sans Lao', sans-serif;
}
h3{
    font-family: 'Noto Sans Lao', sans-serif;
}