.contaner{
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.box{
    background-color: bisque;
    margin: 25px;
    padding: 25px;
    border-radius: 25px;
}
.img{
    width: 400px;
    height: 350px;
    border-radius: 25px;
}
a{
    text-decoration: none;
}
.btn{
    background-color: rgb(255, 127, 127);
    padding: 10px;
    border-radius: 10px;
}