body{
    margin: 0;
}
header{
    padding: 15px;
    background-color: rgb(14, 169, 105)));
    color: red (16, 136, 96)55, 127);
    font-size: 15px;
    text-align: center;

}
a{
    text-decoration: none;
    margin: 10px;
}
.container{
    height: 100px;
}
footer{
    background-color:red ;
    color: black;
    text-align: center;
    padding: 15px;
}